@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: Mulish-italic;
  src: url("../fonts/Mulish-Italic.ttf");
  font-weight: 400;
}
